<template name="topNav">

	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div href="#" class="header item">
				<img class="logo" src="http://semantic-ui.com/examples/assets/images/logo.png">
				 <span>&nbsp; &nbsp; &nbsp;Project Name</span> 
			</div>
			<div class="item">
			    <div class="ui icon input">
			      <input type="text" placeholder="Search...">
			      <i class="search icon"></i>
			    </div>
			  </div>
			<a class="header right item">
				<i class="sign in icon"></i> Sign up
			</a>
			<a class="item">
				<i class="sign in icon"></i> Log in
			</a>
		</div>
	</div>

</template>